<div class="center jumbotron">
  <%= image_tag "Memeocracy.shirt (2).png", :class => "home-jumbo-image" %>
</div>

<div class="container"> 
  <div class="row">
    <div class="col-sm-4 product-box">
      <div class="panel panel-primary">
        <div class="panel-heading"><p><%= @product1.name %></p></div>
        <div class="panel-body"><%= image_tag @product1.image.url(:medium) %></div>
        <div class="panel-footer"> <%= link_to t('.show', :default => t("helpers.links.show")),
                    product_path(@product1), :class => 'btn btn-primary' %></div>
      </div>
    </div>

    <div class="col-sm-4 product-box">
      <div class="panel panel-primary">
        <div class="panel-heading"><p><%= @product2.name %></p></div>
        <div class="panel-body"><%= image_tag @product2.image.url(:medium) %></div>
        <div class="panel-footer"><%= link_to t('.show', :default => t("helpers.links.show")),
                   product_path(@product2), :class => 'btn btn-primary' %></div>
      </div>
    </div>

    <div class="col-sm-4 product-box">
      <div class="panel panel-primary">
        <div class="panel-heading"><p><%= @product3.name %></p></div>
        <div class="panel-body"><%= image_tag @product3.image.url(:medium) %></div>
        <div class="panel-footer"><%= link_to t('.show', :default => t("helpers.links.show")),
                 product_path(@product3), :class => 'btn btn-primary' %></div>
      </div>
    </div>
  </div>
</div>
