<h1>Your Cart:</h1>

<%- model_class = Bag -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:size) %></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bags.each do |bag| %>
      <tr>
        <td><%= bag.product.name %></td>
        <td><%= image_tag bag.product.image.url(:thumb) %></td>
        <td><%= number_to_currency(bag.price) %></td>
        <td><%= bag.size %></td>
        <td><%= bag.color %></td>
        <td><%= bag.quantity %></td>
        <td><%= link_to "Remove",
                      bag,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@bags.sum(:price)) %></span>
    </label>    
    <label class="quantity">
      <span>Total Items: <%= @bags.sum(:quantity) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your order of <%= @bags.sum(:quantity) %> x T-Shirts. "
          data-amount="<%= @bags.sum(:price) * 100 %>"
          data-locale="auto"></script>
<% end %>
